//colores primarios
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-DarkGray: hsl(0, 0%, 55%);
$color-veryDarkGray: hsl(0, 0%, 41%);


//font config
$font-body: 15px;
$font-alata-weight: 400;
$font-josefin-weight: 300;
$font-family-alata: "Alata", sans-serif;
$font-family-josefin: "Josefin Sans", sans-serif;
